# Tensorflow Test Notebook

* Import tests from the corresponding test_tensorflow.py
* Develoop and Debub Tests

# Imports

In [5]:
# sforecast
import sforecast as sf
print(f'sforecast version = {sf.__version__}')

# python - pandas
import pandas as pd
import numpy as np
from datetime import datetime

# scikit-learn
from sklearn.preprocessing import LabelEncoder

# plotting
import beautifulplots as bp
import matplotlib.pyplot as plt

import matplotlib
from pandas.plotting import autocorrelation_plot

sforecast version = 0.4.4

# Univariate

In [6]:
from test_tensorflow import test_univariate

df_pred_uv = test_univariate(_assert=True)

dfXYtf univariate
dfXYtf

            unit_sales_CA1_FOODS_030
date
2016-05-18                       7.0
2016-05-19                      11.0
2016-05-20                       9.0
2016-05-21                       9.0
2016-05-22                       8.0

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_12 (InputLayer)       [(None, 5)]               0

 dense_14 (Dense)            (None, 5)                 30

 dense_15 (Dense)            (None, 20)                120

 dense_16 (Dense)            (None, 10)                210

 dense_17 (Dense)            (None, 1)                 11

=================================================================
Total params: 371
Trainable params: 371
Non-trainable params: 0
_________________________________________________________________
None
1/1 [==============================] - 0s 64ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 20ms/step

metrics = {'unit_sales_CA1_FOODS_030_pred': {'RMSE': 2.089165174565685, 'MAE': 1.4659826755523682}}

,unit_sales_CA1_FOODS_030,unit_sales_CA1_FOODS_030_train,unit_sales_CA1_FOODS_030_test,unit_sales_CA1_FOODS_030_pred,unit_sales_CA1_FOODS_030_pred_error,unit_sales_CA1_FOODS_030_pred_lower,unit_sales_CA1_FOODS_030_pred_upper
date,,,,,,,
2016-05-18,7.0,NaN,7.0,7.000953,0.000953,2.798745,7.799704
2016-05-19,11.0,NaN,11.0,6.706315,-4.293685,2.504107,7.505066
2016-05-20,9.0,NaN,9.0,8.430076,-0.569924,4.227867,9.228827
2016-05-21,9.0,NaN,9.0,8.498943,-0.501057,4.296735,9.297694
2016-05-22,8.0,NaN,8.0,8.556507,0.556507,4.354299,9.355258

df_pred_uv[ypred].tail(10).values=)
[4.92060709 5.80795574 7.30382442 6.74263191 6.58019304 7.0009532
 6.70631504 8.43007565 8.49894333 8.55650711]

# Multivariate Exog Endog

In [7]:
from test_tensorflow import test_multivariate_exog_endog
df_pred = test_multivariate_exog_endog(_assert=True)

Ndense = 46
Nemb = 3
Nout = 7
1/1 [==============================] - 0s 96ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 25ms/step
1/1 [==============================] - 0s 25ms/step
1/1 [==============================] - 0s 23ms/step
y = ['unit_sales_CA1_FOODS_030', 'unit_sales_CA1_HOUSEHOLD_416', 'unit_sales_CA1_FOODS_393']
unit_sales_CA1_FOODS_030_pred
pred_result = [4.8162994384765625, 4.693420886993408, 10.194310188293457, 13.371072769165039, 7.520097732543945]
pred_expected = [ 5.98022509  5.47759581 11.11475754 12.32855797  6.84114027]
unit_sales_CA1_HOUSEHOLD_416_pred
pred_result = [1.3323748111724854, 1.327623724937439, 1.375321865081787, 1.4538416862487793, 1.3556524515151978]
pred_expected = [1.3943553  1.36535299 1.47444928 1.49734759 1.37910318]
unit_sales_CA1_FOODS_393_pred
pred_result = [4.4398908615112305, 5.367325305938721, 7.3187336921691895, 6.3541669845581055, 6.287173271179199]
pred_expected = [3.9302938  5.07874012 6.54496574 5.89960051 5.87364244]

# TF w Exog Groups to Output

In [8]:
from test_tensorflow import test_exengroups
df_pred = test_exengroups(_assert=True)

target variable = ['unit_sales_FOODS_3_030']
variable types ...
target variable = ['unit_sales_FOODS_3_030']
1/1 [==============================] - 0s 111ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 28ms/step

print_expected = [50.5 46.3 34.5]

print_result = [57.16020203 41.82385254 33.73420334]